<% content_for :title do %>Instant-search<% end %>

<h1>Instant-search example</h1>

<div class="well">
  A <code>Google-like</code> instant-search results page based on <a href="https://community.algolia.com/instantsearch.js"><code>instantsearch.js</code></a>.
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="text" id="q" class="form-control" />
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3" id="facets">
      <div id="companies"></div>
    </div>
    <div class="col-sm-9" id="hits"></div>
  </div>
</div>

<script src="//cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var hitTemplate = '<div class="hit-instant-search">' +
      '<div class="company">{{{_highlightResult.company.value}}}</div>' +
      '<div class="name">{{{_highlightResult.name.value}}}</div>' +
      '<div class="created_at">{{{created_at}}}</div>' +
      '<div class="email"><a href="mailto:{{{_highlightResult.email.value}}}">{{{_highlightResult.email.value}}}</a></div>' +
    '</div>';

    var search = instantsearch({
      appId: '<%= ENV['ALGOLIASEARCH_APPLICATION_ID'] %>',
      apiKey: '<%= ENV['ALGOLIASEARCH_API_KEY_SEARCH'] %>',
      indexName: '<%= Contact.index_name %>',
      urlSync: true
    });

    search.addWidget(
      instantsearch.widgets.searchBox({
        container: '#q',
        placeholder: 'Search for contacts',
        autofocus: false,
        poweredBy: true
      })
    );

    search.addWidget(
      instantsearch.widgets.hits({
        container: '#hits',
        templates: {
          empty: 'No results',
          item: hitTemplate
        },
        hitsPerPage: 10
      })
    );

    search.addWidget(
      instantsearch.widgets.refinementList({
        container: '#companies',
        attributeName: 'company',
        limit: 10,
        templates: {
          header: 'Companies'
        },
        cssClasses: {
          root: 'list-group',
          item: 'list-group-item',
          count: 'badge pull-right'
        }
      })
    );

    search.start();
  });
</script>
