<ul class="nav navbar-nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Auto-complete', page_path('auto-complete') %></li>
  <li><%= link_to 'Instant-search', page_path('instant-search') %></li>
  <li><%= link_to 'Backend search', backend_search_path %></li>
</ul>
